*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0%;
}
.logo{
    height: 80px;
    width: 15%;
}
.logo h1{
    color: white;
    font-weight: bolder;
    font-size: 35px;
    margin-top: 6%;
}
.navbar{
    height: 80px;
    width: 70%;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar ul li{
    font-size: 21px;
    color: white;
    margin-top: 2%;
}
.navbar ul li:first-child{
    color: orangered;
}
.container{
    height: 500px;
    width: 100%;
    background-image: url(images/hero-bg.jpg);
    background-position: center;
    background-size: cover;

}
.container p{
    color: darkgray;
    font-size: 25px;
    text-align: center;
   
}
.container h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 2%;
}
.container .button2{
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    margin-top: 4%;
    margin-left: 40%;
}
.container .button1{
    background-color: transparent;
    border: 2px solid orangered;
    height: 50px;
    width: 140px;
    color: orangered;
    font-size: 18px;
    margin-left: 2%;
}
.member{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
.member hr{
    height: 50%;
    color: darkgray;
    opacity: 0.8;
}
.a{
    height: 400px;
    width: 40%;
    /* border: 1px solid white; */
}
.a h1{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.a b{
    font-size: 25px;
    color: white;
}
.a p{
    font-size: 20px;
    color: darkgray;
}
.a button{
    height: 50px;
    width: 80%;
    background-color: orangered;
    color: white;
    font-size: 17px;
}
.b{
    height: 400px;
    width: 25%;
    /* border: 1px solid white; */
   
}
.b h1{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.b b{
    font-size: 23px;
    color: white;
}
.b p{
    font-size: 18px;
    color: darkgray;
}
.about{
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.abti{
    height: 300px;
    width: 35%;
    /* border: 1px solid black; */
}
.abti h1{
    font-size: 50px;
    font-weight: bolder;
}
.abti p{
    font-size: 23px;
    opacity: 0.8;
}
.abtp{
    height: 400px;
    width: 45%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.c{
    height: 400px;
    width: 40%;
    /* border: 1px solid black; */
    background-color: white;
}
.c img{
    width: 100%;
    height: 70%;
}
.c h1{
    margin-left: 6%;
}
.c p{
    font-size: 20px;
    opacity: 0.8;
    margin-left: 6%;
}
.d{
    height: 400px;
    width: 40%;
    /* border: 1px solid black; */
    background-color: white;
}
.d img{
    width: 100%;
    height: 70%;
}
.d h1{
    margin-left: 6%;
}
.d p{
    font-size: 20px;
    opacity: 0.8;
    margin-left: 6%;
}
.training{
    height: 600px;
    width: 100%;
   
}
.trhead{
    height: 100px;
    width: 100%;
}
.trhead p{
    text-align: center;
    font-size: 25px;
    opacity: 0.8;
}
.trhead h1{
    text-align: center;
    font-size: 40px;
   
}
.trmain{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
}
.e{
    height: 400px;
    width: 30%;
    /* border: 1px solid black; */
}
.e img{
    height: 60%;
    width: 100%;
}
.e h1{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 6%;
}
.e b{
    font-size: 25px;
    font-weight: 500;
    margin-left: 6%;
}
.e p{
    font-size: 20px;
    opacity: 0.8;
    margin-left: 6%;
}
.f{
    height: 400px;
    width: 30%;
    /* border: 1px solid black; */
}
.f img{
    height: 60%;
    width: 100%;
}
.f h1{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 6%;
}
.f b{
    font-size: 25px;
    font-weight: 500;
    margin-left: 6%;
}
.f p{
    font-size: 20px;
    opacity: 0.8;
    margin-left: 6%;
}
.g{
    height: 400px;
    width: 30%;
    /* border: 1px solid black; */
}
.g img{
    height: 60%;
    width: 100%;
}
.g h1{
    font-size: 35px;
    font-weight: bolder;
    margin-left: 6%;
}
.g b{
    font-size: 25px;
    font-weight: 500;
    margin-left: 6%;
}
.g p{
    font-size: 20px;
    opacity: 0.8;
    margin-left: 6%;
}
.contact{
   height: 550px;
   width: 60%;
   margin-left: 20%;
   /* border: 1px solid black; */
   margin-top: 3%;
}
.contact h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
.contact input{
    width: 60%;
    height: 50px;
    margin-left: 20%;
    font-size: 17px;
    font-weight: bold;
}
.contact textarea{
    margin-left: 20%;
    font-size: 17px;
    font-weight: bold;
}
.contact button{
    height: 60px;
    width: 60%;
    margin-left: 20%;
    background-color: black;
    color: white;
    font-size: 18px;
}
footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.v{
    height: 80px;
    width: 40%;
    /* border: 1px solid black; */

}
.v p{
    font-size: 20px;
}
.y{
    height: 80px;
    width: 40%;
    /* border: 1px solid black; */
}
.y p{
    font-size: 20px;
    margin-left: 10%;
    display: inline-block;
}
















/* media query */

@media(max-width:980px)
{
    header{
        height: auto;
        
    }
    .logo{
        width: 20%;
      
    }
    .logo h1{
            font-size: 25px;
            margin-top: 12%;
    }
    .navbar ul li{
        font-size: 15px;
        margin-top: 5%;
    }
    .container{
        height: auto;
    }
    .container p{
        font-size: 27px;
    }
    .container h1{
        font-size: 35px;
    }
    .container .button2{
        font-size: 13px;
      margin-left: 38%;
      margin-bottom: 5%;
    }
    .container .button1{
        font-size: 13px;
    
      margin-bottom: 5%;
    }
    .a{
        height: auto;
       }
        .a h1{
            font-size: 26px;
            
        }
        .a b{
            font-size: 16px;
            
        }
        .a p{
            font-size: 14px;
            
        }
        .a button{
            height: 40px;
            width: 80%;
           
            font-size: 13px;
        }
        .member hr{
            height: 100px;
           margin-bottom: 2%;
            opacity: 0.8;
        }
        .b{
            height: auto;
         
        }
        .b h1{
            font-size: 23px;
          
        }
        .b b{
            font-size: 19px;
            
        }
        .b p{
            font-size: 14px;
           
        }
        .about{
            height: auto;
        }
        .abti{
            height: auto;
            
        }
        .abti h1{
            font-size: 29px;
        }
        .abti p{
            font-size: 15px;
        
        }
       .c{
        height: auto;
       }
       
       .c h1{
        font-size: 23px;
       }
       .c p{
        font-size: 16px;
       }
       .d{
        height: auto;
       }
       .d h1{
        font-size: 23px;
       }
       .d p{
        font-size: 16px;
       }
       .training{
        height: auto;
       }
       .trhead p{
        height: auto;
        font-size: 26px;
       
       }
        .trhead h1{
       
        font-size: 32px;
       
        }
        .e{
            height: auto;
        }
        .e h1{
            font-size: 26px;
           
        }
        .e b{
            font-size: 21px;
           
        }
        .e p{
            font-size: 19px;
           
        }
        .f{
             height: auto;
        }
        .f h1{
            font-size: 26px;
           
        }
        .f b{
            font-size: 21px;
           
        }
        .f p{
            font-size: 19px;
           
        }
        .g{
            height: auto;
        }
        .g h1{
            font-size: 26px;
           
        }
        .g b{
            font-size: 21px;
           
        }
        .g p{
            font-size: 19px;
           
        }
        .contact{
            height: auto;
            margin-bottom: 5%;
          }
          .contact h1{
            
              font-size: 26px;
              
          }
          .contact input{
              width: 60%;
              height: 46px;
             font-size: 16px;
          }
          .contact textarea{
            font-size: 17px;
              height: 46px;
              width: 60%;
          }
          .contact button{
              height: 46px;
              width: 60%;
             
              font-size: 19px;
          }
          footer{
            height: auto;
            
        }
        
        .v p{
            font-size: 18px;
        }
        
        .y p{
            font-size: 16px;
            margin-left: 10%;
            display: inline-block;
        }
}












@media(max-width:720px)
{
    header{
        height: auto;
    }
    .logo{
        width: 20%;
      
    }
    .logo h1{
            font-size: 22px;
            margin-top: 21%;
    }
    .navbar ul li{
        font-size: 12px;
        margin-top: 8%;
    }
    .container{
        height: auto;
    }
    .container p{
        font-size: 22px;
    }
    .container h1{
        font-size: 30px;
    }
    .container .button2{
        font-size: 13px;
      margin-left: 35%;
      margin-bottom: 5%;
    }
    .container .button1{
        font-size: 13px;
    
      margin-bottom: 5%;
    }
    .a{
        height: auto;
       }
        .a h1{
            font-size: 24px;
            
        }
        .a b{
            font-size: 14px;
            
        }
        .a p{
            font-size: 12px;
            
        }
        .a button{
            height: 40px;
            width: 80%;
           
            font-size: 12px;
        }
        .member hr{
            height: 100px;
           margin-bottom: 2%;
            opacity: 0.8;
        }
        .b{
            height: auto;
         
        }
        .b h1{
            font-size: 21px;
          
        }
        .b b{
            font-size: 17px;
            
        }
        .b p{
            font-size: 12px;
           
        }
        .about{
            height: auto;
        }
        .abti{
            height: auto;
            
        }
        .abti h1{
            font-size: 22px;
        }
        .abti p{
            font-size: 11px;
        
        }
       .c{
        height: auto;
       }
       
       .c h1{
        font-size: 21px;
       }
       .c p{
        font-size: 14px;
       }
       .d{
        height: auto;
       }
       .d h1{
        font-size: 21px;
       }
       .d p{
        font-size: 14px;
       }
       .training{
        height: auto;
       }
       .trhead p{
        height: auto;
        font-size: 24px;
       
       }
        .trhead h1{
       
        font-size: 30px;
       
        }
        .e{
            height: auto;
        }
        .e h1{
            font-size: 24px;
           
        }
        .e b{
            font-size: 19px;
           
        }
        .e p{
            font-size: 15px;
           
        }
        .f{
             height: auto;
        }
        .f h1{
            font-size: 24px;
           
        }
        .f b{
            font-size: 19px;
           
        }
        .f p{
            font-size: 15px;
           
        }
        .g{
            height: auto;
        }
        .g h1{
            font-size: 24px;
           
        }
        .g b{
            font-size: 19px;
           
        }
        .g p{
            font-size: 15px;
           
        }
        .contact{
            height: auto;
            margin-bottom: 4%;
          }
          .contact h1{
            
              font-size: 24px;
              
          }
          .contact input{
              width: 60%;
              height: 44px;
             font-size: 16px;
          }
          .contact textarea{
            font-size: 16px;
              height: 44px;
              width: 60%;
          }
          .contact button{
              height: 44px;
              width: 60%;
             
              font-size: 18px;
          }
          footer{
            height: auto;
            
        }
        
        .v p{
            font-size: 16px;
        }
        
        .y p{
            font-size: 14px;
            margin-left: 10%;
            display: inline-block;
        }
}










@media(max-width:576px)
{
    header{
        height: auto;
    }
    .logo{
        width: 20%;
      
    }
    .logo h1{
            font-size: 18px;
            margin-top: 25%;
    }
    .navbar ul li{
        font-size: 12px;
        margin-top: 8%;
    }
    .container{
        height: auto;
    }
    .container p{
        font-size: 19px;
    }
    .container h1{
        font-size: 26px;
    }
    .container .button2{
        font-size: 13px;
      margin-left: 30%;
      margin-bottom: 5%;
    }
    .container .button1{
        font-size: 13px;
    
      margin-bottom: 5%;
    }
    .a{
        height: auto;
       }
        .a h1{
            font-size: 22px;
            
        }
        .a b{
            font-size: 12px;
            
        }
        .a p{
            font-size: 10px;
            
        }
        .a button{
            height: 30px;
            width: 80%;
           
            font-size: 10px;
        }
        .member hr{
            height: 100px;
           margin-bottom: 2%;
            opacity: 0.8;
        }
        .b{
            height: auto;
         
        }
        .b h1{
            font-size: 19px;
          
        }
        .b b{
            font-size: 15px;
            
        }
        .b p{
            font-size: 10px;
           
        }
        .about{
            height: auto;
        }
        .abti{
            height: auto;
        }
        .abti h1{
            font-size: 20px;
        }
        .abti p{
            font-size: 9px;
        
        }
       .c{
        height: auto;
       }
       
       .c h1{
        font-size: 20px;
       }
       .c p{
        font-size: 12px;
       }
       .d{
        height: auto;
       }
       .d h1{
        font-size: 20px;
       }
       .d p{
        font-size: 12px;
       }
       .training{
        height: auto;
       }
       .trhead p{
        height: auto;
        font-size: 22px;
       
       }
        .trhead h1{
       
        font-size: 28px;
       
        }
        .e{
            height: auto;
        }
        .e h1{
            font-size: 22px;
           
        }
        .e b{
            font-size: 17px;
           
        }
        .e p{
            font-size: 13px;
           
        }
        .f{
             height: auto;
        }
        .f h1{
            font-size: 22px;
           
        }
        .f b{
            font-size: 17px;
           
        }
        .f p{
            font-size: 13px;
           
        }
        .g{
            height: auto;
        }
        .g h1{
            font-size: 22px;
           
        }
        .g b{
            font-size: 17px;
           
        }
        .g p{
            font-size: 13px;
           
        }
        .contact{
            height: auto;
            margin-bottom: 3%;
          }
          .contact h1{
            
              font-size: 22px;
              
          }
          .contact input{
              width: 60%;
              height: 42px;
             font-size: 14px;
          }
          .contact textarea{
            font-size: 14px;
              height: 42px;
              width: 60%;
          }
          .contact button{
              height: 42px;
              width: 60%;
             
              font-size: 16px;
          }
          footer{
            height: auto;
            
        }
        
        .v p{
            font-size: 14px;
        }
        
        .y p{
            font-size: 12px;
            margin-left: 10%;
            display: inline-block;
        }
}








@media(max-width:480px)
{
    header{
        height: auto;
       
    }
    .logo{
        width: 20%;
      
    }
    .logo h1{
            font-size: 15px;
            margin-top: 25%;
    }
    .navbar ul li{
        font-size: 12px;
        margin-top: 8%;
    }
    .container{
        height: auto;
    }
    .container p{
        font-size: 17px;
    }
    .container h1{
        font-size: 23px;
    }
    .container .button2{
        font-size: 13px;
      margin-left: 30%;
      margin-bottom: 5%;
    }
    .container .button1{
        font-size: 13px;
    
      margin-bottom: 5%;
    }
   .a{
    height: auto;
   }
    .a h1{
        font-size: 20px;
        
    }
    .a b{
        font-size: 10px;
        
    }
    .a p{
        font-size: 8px;
        
    }
    .a button{
        height: 30px;
        width: 80%;
       
        font-size: 10px;
    }
    .member hr{
        height: 100px;
       margin-bottom: 2%;
        opacity: 0.8;
    }
    .b{
        height: auto;
     
    }
    .b h1{
        font-size: 17px;
      
    }
    .b b{
        font-size: 13px;
        
    }
    .b p{
        font-size: 8px;
       
    }
    .about{
        height: auto;
    }
    .abti{
        height: auto;
    }
    .abti h1{
        font-size: 18px;
    }
    .abti p{
        font-size: 7px;
    
    }
   .c{
    height: auto;
   }
   
   .c h1{
    font-size: 18px;
   }
   .c p{
    font-size: 10px;
   }
   .d{
    height: auto;
   }
   .d h1{
    font-size: 18px;
   }
   .d p{
    font-size: 10px;
   }
   .training{
    height: auto;
   }
   .trhead p{
    height: auto;
    font-size: 20px;
   
   }
    .trhead h1{
   
    font-size: 25px;
   
    }
    .e{
        height: auto;
    }
    .e h1{
        font-size: 20px;
       
    }
    .e b{
        font-size: 16px;
       
    }
    .e p{
        font-size: 11px;
       
    }
    .f{
         height: auto;
    }
    .f h1{
        font-size: 20px;
       
    }
    .f b{
        font-size: 16px;
       
    }
    .f p{
        font-size: 11px;
       
    }
    .g{
        height: auto;
    }
    .g h1{
        font-size: 20px;
       
    }
    .g b{
        font-size: 16px;
       
    }
    .g p{
        font-size: 11px;
       
    }
    .contact{
       height: auto;
       margin-bottom: 2%;
     }
     .contact h1{
       
         font-size: 20px;
         
     }
     .contact input{
         width: 60%;
         height: 40px;
        font-size: 14px;
     }
     .contact textarea{
        
         height: 40px;
         width: 60%;
     }
     .contact button{
         height: 40px;
         width: 60%;
        
         font-size: 14px;
     }
     footer{
        height: auto;
        
    }
    
    .v p{
        font-size: 12px;
    }
    
    .y p{
        font-size: 10px;
        margin-left: 10%;
        display: inline-block;
    }
}